			
			@media print {
				p {page-break-inside: avoid;}

				margin:5px;
				margin-bottom:5px;

			}

			@media print {
				a[href]:after {
    			content: none !important;
  }
}			
			
			

			@font-face {
			    font-family: houtline;
			    src: url(houtline.otf);
			}

			@font-face {
			    font-family: goutline;
			    src: url(goutline.otf);
			}
			
	
		

			#header{ /*navigatie*/
				top:5px;
				width:100vw;
				height:10vh;
				position:fixed;
				z-index:999;
			    text-align: center;
			    word-spacing: 70px;
			    font-size: 10pt;
			    font-family: helvetica;
			    font-weight: bold;
			    text-transform: uppercase;
			    display: none;
			}

			#columnRight{
				height:100vh;
				padding:20px;
				top:4000px;
			}

			#columnRight br {
  				line-height: 300pt;
			}

			#columnLeft{
				height:100vh;
				top:1600px;
			}

			#columnLeft h1{
				font-family: georgia;
			    text-align:left;
			    font-size:20pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-left: 120px;
			    margin-bottom:20px;
			    display: inline-block;
			    line-height: 110%;
			}
			#columnLeft .bron {
				font-family: georgia;
				position: absolute;
				right:10px;	
				width:200px;	
				font-size:7pt;
				line-height:8pt;

			}
			#columnLeft a{ /*links*/
			    font-family:helvetica;
			    text-align:left;
			    font-size:9.5pt;
			    line-height:9pt;
			    color:blue;

			}
			#columnLeft h2{ /*de titel teksten tussenin*/
				font-family:goutline;
			   	text-align:left;
			    font-size:60pt;
			    font-weight: ;
			    width:700px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 110%;
			    text-transform: uppercase;

			}

			#columnLeft p{ /*tekst*/
				font-family:Helvetica;
			    text-align:left;
			    font-size:15pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 113%;
			    z-index: 1;
			    page-break-inside: avoid

			    }

			.element{ /*overlappende tekst in outline*/
				 font-size:100px; 
				 position:absolute; 
				 margin-left:30px;
				}
			#element-1{ 
				font-family:goutline;
			    -webkit-text-stroke: 0.5px black; /* stroke color and weight */
			    text-decoration: none;z-index:1; 
			}
			#element-2{
				font-family:houtline; 
			    text-decoration: none; 
			    letter-spacing:4.5px;
			    z-index:1; 
		}

			.image { /*afbeeldingen*/
			    top:4400px;
			    margin-right:250px;
				margin-top: 100px;			   
 			    margin-bottom:100px;
 				position: relative;
 				float:right;
			    display:block;
			    z-index: -1;
}

			  
			