			

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}


			@media only print{

				@page {
					margin:20px;
					margin-bottom:30px;
					page-break-after: always;

				}
			}
			







			@font-face {
			    font-family: houtline;
			    src: url(houtline.otf);
			}

			@font-face {
			    font-family: goutline;
			    src: url(goutline.otf);
			}
			

			.footnote{
				width:200px;
				height:20px;
				color:white;
				float:right;
				margin:5px;
				margin-right:100px;
				font-family: helvetica;
  				text-align:left;
   				font-size:10pt;
 
			}

		
			#columnRight{
				height:100vh;
				padding:20px;
				top:4000px;
			}

			#columnRight br {
  				line-height: 300pt;
				}

			#columnLeft{
				height:100vh;
				top:1600px;
			}

			#columnLeft h1{
				font-family: georgia;
			    text-align:left;
			    font-size:20pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-left: 120px;
			    margin-bottom:20px;
			    display: inline-block;
			    line-height: 110%;
			}
			#columnLeft .bron {
				font-family: georgia;
				position: absolute;
				right:1px;	
				width:180px;	
				font-size:7pt;
				line-height:8pt;

			}

			#columnLeft h2{ /*de titel teksten tussenin*/
				font-family:goutline;
			   	text-align:left;
			    font-size:60pt;
			    font-weight: ;
			    width:700px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 110%;
			    text-transform: uppercase;
			}

			#columnLeft h3{
				font-family:goutline;
			   	text-align:left;
			    font-size:70pt;
			    font-weight: bold;
			    width:600px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 110%;
			    text-transform: uppercase;
			}

			#columnLeft p{
				font-family:Helvetica;
			    text-align:left;
			    font-size:15pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 113%;
}
			#columnLeft li{
			    font-family:Helvetica;
			    text-align:left;
			    font-size:10pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:15px;
			    margin-left: 100px;
			    line-height: 130%;
			}
			.pagebreak { 
				page-break-before: always; 


			}
			.element{ /*overlappende tekst in outline*/
				 font-size:100px; 
				 position:absolute; 
				 margin-left:30px;
				}
			#element-1{ 
				font-family:goutline;
			    -webkit-text-stroke: 0.5px black; /* stroke color and weight */
			    text-decoration: none;z-index:1; 
			}
			#element-2{
				font-family:houtline; 
			    text-decoration: none; 
			    letter-spacing:4.5px;
			    z-index:1; }


			.image { /*afbeeldingen*/
			    top:2000px;
 			    float: right;
			    margin-right:250px;
				margin-top: 100px;			   
 			    margin-bottom:100px;
 				position: relative;
 				page-break-before: always; 


			  
			