		/*	#header{
				width:100vw;
				height:10vh;
				position:fixed;
				z-index:999;
			    text-align: center;
			    word-spacing: 60px;
			    font-size: 14pt;
			    font-family: helvetica;
			    font-weight: bold;
			}

			#header a {
				color:blue

			}
			#header a:hover {
				font-family:helvetica;
			    color: white; /* text color */
			    -webkit-text-stroke: 1px blue; /* stroke color and weight */
			    text-decoration: none;

			}*/

			@media print
{
    * {-webkit-print-color-adjust:exact;}
}			@media print { 
			 /* All your print styles go here */
			 #header, #footer, #nav, #intro #imgBox{ display: none !important; } 
			}

			.footnote{
				width:200px;
				height:20px;
				color:white;
				float:right;
				margin:5px;
				margin-right:100px;
				font-family: helvetica;
  				text-align:left;
   				font-size:10pt;
 
			}

			#intro{
				margin-top:10vh;
				font-size:100px;
				color:blue;
			}

			#columnLeft{
				height:100vh;
				top:1200px;
			}

			#columnRight{
				height:100vh;
				padding:20px;
				top:4000px;
			}

			#columnRight br {
  				line-height: 300pt;
				}

			#columnLeft h1{
				font-family: georgia;
			    text-align:left;
			    font-size:20pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-left: 120px;
			    margin-bottom:20px;
			    display: inline-block;
			    line-height: 110%;
			    font-weight:bold;
			}
			#columnLeft .bron {
				font-family: georgia;
				position: absolute;
				right:5px;	
				width:100px;	
				font-size:8pt;
				line-height:9pt;

			}

			#columnLeft h2{
				font-family:georgia;
			   	text-align:left;
			    font-size:50pt;
			    font-weight: bold;
			    width:600px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 110%;
			    color: white; /* text color */
			    -webkit-text-stroke: 1px black; /* stroke color and weight */
			    text-transform: uppercase;
			}

			#columnLeft h3{
				font-family:georgia;
			   	text-align:left;
			    font-size:70pt;
			    font-weight: bold;
			    width:600px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 110%;
			    color: transparent; /* text color */
			    -webkit-text-stroke: 1px black; /* stroke color and weight */
			    text-transform: uppercase;
			}

			#columnLeft p{
				font-family:Helvetica;
			    text-align:left;
			    font-size:12pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 110%;
}
			    #columnLeft li{
			    font-family:Helvetica;
			    text-align:left;
			    font-size:12pt;
			    width:500px;    
			    height: auto;
			    margin-right: 120px;
			    margin-bottom:50px;
			    margin-left: 120px;
			    display: inline-block;
			    line-height: 130%;
			

			}
			.element{
				 font-size:110px; 
				 position:absolute; 
				 margin-left:30px;
				}
			#element-1{ 
				font-family:helvetica;
				letter-spacing: 2px;
				 color: transparent; /* text color */
			    -webkit-text-stroke: 1.3px black; /* stroke color and weight */
			    text-decoration: none;z-index:1; 
			}
			#element-2{
				 font-family:georgia; 
				 color: transparent; /* text color */
			    -webkit-text-stroke: 1.3px black; /* stroke color and weight */
			    text-decoration: none; 
			    z-index:1; }

			/*----------images-------------*/

			.imgBoxmorris { /*afbeelding Morris*/
			    width: 600px; 
			    height: 600px; 
			    background: url(images/pmorris.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
				position: relative;
				visibility: visible;


			  
			}

			.imgBoxdepero{  /*afbeelding Depero*/
			    width: 600px; 
			    height: 600px; 
			    background: url(images/pdepero.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			        position: relative;


			}

			.imgBoxxerox { /*afbeelding Xeros*/

			    width: 600px; 
			    height: 1200px; 
			    background: url(images/pxerox.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			        position: relative;


			 
			}

			.imgBoxroth { /*afbeelding Roth*/
			    width: 600px; 
			    height: 600px; 
			    background: url(images/proth2.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			        position: relative;


			}

			.imgBoxcarson { /*afbeelding Carson*/
			    width: 600px; 
			    height: 1000px; 
			    background: url(images/pcarson.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			    position: relative;

			
			}

			.imgBoxboom {  /*afbeelding Boom*/
			    width: 600px; 
			    height: 600px; 
			    background: url(images/pboom.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			    position: relative;
}	
			.imgBoxhalem { /*afbeelding Halem*/
			    width: 600px; 
			    height: 1000px; 
			    background: url(images/phalem.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			    position: relative;

			}

			
			.imgBoxreith { /*afbeelding Reith*/
			    width: 600px; 
			    height: 1000px; 
			    background: url(images/preith.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			    position: relative;

			

			}

			.imgBoxkentridge { /*afbeelding Kentridge*/
			    width: 600px; 
			    height: 1000px; 
			    background: url(images/pkentridge.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			    position: relative;

			}

			.imgBoxrozendaal { /*afbeelding Rozendaal*/
			    width: 600px; 
			    height: 1000px; 
			    background: url(images/prozendaal.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			    position: relative;

			

			}


			.imgBoxatlas { /*afbeelding Atlas*/
			    width: 600px; 
			    height: 1000px; 
			    background: url(images/patlas.jpg) no-repeat; 
			    float: right;
			    margin-right:100px;
			    position: relative;

			

			

		
			}
